In [20]:
# Importar librerias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [21]:
bikes = pd.read_excel('Bikes.xlsx')
bikes

,bike.id,model,description,price
0,1,Supersix Evo Black Inc.,Road - Elite Road - Carbon,12790
1,2,Supersix Evo Hi-Mod Team,Road - Elite Road - Carbon,10660
2,3,Supersix Evo Hi-Mod Dura Ace 1,Road - Elite Road - Carbon,7990
3,4,Supersix Evo Hi-Mod Dura Ace 2,Road - Elite Road - Carbon,5330
4,5,Supersix Evo Hi-Mod Utegra,Road - Elite Road - Carbon,4260
...,...,...,...,...
92,93,Trail 5,Mountain - Sport - Aluminum,815
93,94,Catalyst 1,Mountain - Sport - Aluminum,705
94,95,Catalyst 2,Mountain - Sport - Aluminum,585
95,96,Catalyst 3,Mountain - Sport - Aluminum,480
96,97,Catalyst 4,Mountain - Sport - Aluminum,415

In [22]:
bikeshops = pd.read_excel('bikeshops.xlsx')
bikeshops

    bikeshop.id                 bikeshop.name           location
0             1  Pittsburgh Mountain Machines     Pittsburgh, PA
1             2      Ithaca Mountain Climbers         Ithaca, NY
2             3       Columbus Race Equipment       Columbus, OH
3             4                Detroit Cycles        Detroit, MI
4             5              Cincinnati Speed     Cincinnati, OH
5             6     Louisville Race Equipment     Louisville, KY
6             7            Nashville Cruisers      Nashville, TN
7             8              Denver Bike Shop         Denver, CO
8             9         Minneapolis Bike Shop    Minneapolis, MN
9            10             Kansas City 29ers    Kansas City, KS
10           11               New York Cycles       New York, NY
11           12                 Dallas Cycles         Dallas, TX
12           13  Oklahoma City Race Equipment  Oklahoma City, OK
13           14            Albuquerque Cycles    Albuquerque, NM
14           15               Austin Cruisers         Austin, TX
15           16               Phoenix Bi-peds        Phoenix, AZ
16           17              Las Vegas Cycles      Las Vegas, NV
17           18            Los Angeles Cycles    Los Angeles, CA
18           19        San Francisco Cruisers  San Francisco, CA
19           20              Portland Bi-peds       Portland, OR
20           21        Seattle Race Equipment        Seattle, WA
21           22               Ann Arbor Speed      Ann Arbor, MI
22           23        Philadelphia Bike Shop   Philadelphia, PA
23           24            Providence Bi-peds     Providence, RI
24           25       New Orleans Velocipedes    New Orleans, LA
25           26          Miami Race Equipment          Miami, FL
26           27         San Antonio Bike Shop    San Antonio, TX
27           28                 Wichita Speed        Wichita, KS
28           29      Indianapolis Velocipedes   Indianapolis, IN
29           30                   Tampa 29ers          Tampa, FL

In [23]:
orderlines = pd.read_excel('orderlines.xlsx')
orderlines

       order.id  order.line order.date  customer.id  product.id  quantity
0             1           1 2011-01-07            2          48         1
1             1           2 2011-01-07            2          52         1
2             2           1 2011-01-10           10          76         1
3             2           2 2011-01-10           10          52         1
4             3           1 2011-01-10            6           2         1
...         ...         ...        ...          ...         ...       ...
15639      2000           4 2015-12-25           15          14         1
15640      2000           5 2015-12-25           15          90         1
15641      2000           6 2015-12-25           15          17         1
15642      2000           7 2015-12-25           15          70         1
15643      2000           8 2015-12-25           15          61         1

[15644 rows x 6 columns]

In [24]:
# Suponiendo que 'orderline' y 'bikes' son tus DataFrames
merged_df = pd.merge(orderlines, bikes, left_on='product.id', right_on='bike.id')

In [25]:
merged_df

,order.id,order.line,order.date,customer.id,product.id,quantity,bike.id,model,description,price
0,1,1,2011-01-07,2,48,1,48,Jekyll Carbon 2,Mountain - Over Mountain - Carbon,6070
1,23,1,2011-02-04,8,48,1,48,Jekyll Carbon 2,Mountain - Over Mountain - Carbon,6070
2,44,13,2011-02-28,16,48,1,48,Jekyll Carbon 2,Mountain - Over Mountain - Carbon,6070
3,48,5,2011-03-03,30,48,1,48,Jekyll Carbon 2,Mountain - Over Mountain - Carbon,6070
4,66,2,2011-03-23,6,48,1,48,Jekyll Carbon 2,Mountain - Over Mountain - Carbon,6070
...,...,...,...,...,...,...,...,...,...,...
15639,1894,4,2015-09-08,4,59,1,59,Scalpel-Si Carbon 3,Mountain - Cross Country Race - Carbon,5330
15640,1915,1,2015-09-25,10,59,1,59,Scalpel-Si Carbon 3,Mountain - Cross Country Race - Carbon,5330
15641,1938,9,2015-10-29,10,59,1,59,Scalpel-Si Carbon 3,Mountain - Cross Country Race - Carbon,5330
15642,1986,27,2015-12-17,28,59,1,59,Scalpel-Si Carbon 3,Mountain - Cross Country Race - Carbon,5330
15643,1995,13,2015-12-23,10,59,1,59,Scalpel-Si Carbon 3,Mountain - Cross Country Race - Carbon,5330

In [26]:
data = pd.merge(merged_df, bikeshops, left_on='order.line', right_on='bikeshop.id')

In [27]:
data

,order.id,order.line,order.date,customer.id,product.id,quantity,bike.id,model,description,price,bikeshop.id,bikeshop.name,location
0,1,1,2011-01-07,2,48,1,48,Jekyll Carbon 2,Mountain - Over Mountain - Carbon,6070,1,Pittsburgh Mountain Machines,"Pittsburgh, PA"
1,23,1,2011-02-04,8,48,1,48,Jekyll Carbon 2,Mountain - Over Mountain - Carbon,6070,1,Pittsburgh Mountain Machines,"Pittsburgh, PA"
2,99,1,2011-04-19,10,48,1,48,Jekyll Carbon 2,Mountain - Over Mountain - Carbon,6070,1,Pittsburgh Mountain Machines,"Pittsburgh, PA"
3,384,1,2012-03-12,10,48,1,48,Jekyll Carbon 2,Mountain - Over Mountain - Carbon,6070,1,Pittsburgh Mountain Machines,"Pittsburgh, PA"
4,496,1,2012-06-19,30,48,1,48,Jekyll Carbon 2,Mountain - Over Mountain - Carbon,6070,1,Pittsburgh Mountain Machines,"Pittsburgh, PA"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15639,1121,30,2014-01-29,10,6,4,6,Supersix Evo Red,Road - Elite Road - Carbon,3940,30,Tampa 29ers,"Tampa, FL"
15640,1134,30,2014-02-14,2,6,1,6,Supersix Evo Red,Road - Elite Road - Carbon,3940,30,Tampa 29ers,"Tampa, FL"
15641,476,30,2012-05-31,20,89,1,89,Trail 1,Mountain - Sport - Aluminum,1520,30,Tampa 29ers,"Tampa, FL"
15642,976,30,2013-08-14,15,89,1,89,Trail 1,Mountain - Sport - Aluminum,1520,30,Tampa 29ers,"Tampa, FL"
15643,499,30,2012-06-19,8,82,1,82,Habit Carbon 1,Mountain - Trail - Carbon,7460,30,Tampa 29ers,"Tampa, FL"

In [28]:
data = data.drop(columns=['product.id', 'order.line'])
data

,order.id,order.date,customer.id,quantity,bike.id,model,description,price,bikeshop.id,bikeshop.name,location
0,1,2011-01-07,2,1,48,Jekyll Carbon 2,Mountain - Over Mountain - Carbon,6070,1,Pittsburgh Mountain Machines,"Pittsburgh, PA"
1,23,2011-02-04,8,1,48,Jekyll Carbon 2,Mountain - Over Mountain - Carbon,6070,1,Pittsburgh Mountain Machines,"Pittsburgh, PA"
2,99,2011-04-19,10,1,48,Jekyll Carbon 2,Mountain - Over Mountain - Carbon,6070,1,Pittsburgh Mountain Machines,"Pittsburgh, PA"
3,384,2012-03-12,10,1,48,Jekyll Carbon 2,Mountain - Over Mountain - Carbon,6070,1,Pittsburgh Mountain Machines,"Pittsburgh, PA"
4,496,2012-06-19,30,1,48,Jekyll Carbon 2,Mountain - Over Mountain - Carbon,6070,1,Pittsburgh Mountain Machines,"Pittsburgh, PA"
...,...,...,...,...,...,...,...,...,...,...,...
15639,1121,2014-01-29,10,4,6,Supersix Evo Red,Road - Elite Road - Carbon,3940,30,Tampa 29ers,"Tampa, FL"
15640,1134,2014-02-14,2,1,6,Supersix Evo Red,Road - Elite Road - Carbon,3940,30,Tampa 29ers,"Tampa, FL"
15641,476,2012-05-31,20,1,89,Trail 1,Mountain - Sport - Aluminum,1520,30,Tampa 29ers,"Tampa, FL"
15642,976,2013-08-14,15,1,89,Trail 1,Mountain - Sport - Aluminum,1520,30,Tampa 29ers,"Tampa, FL"
15643,499,2012-06-19,8,1,82,Habit Carbon 1,Mountain - Trail - Carbon,7460,30,Tampa 29ers,"Tampa, FL"

In [29]:
data.isnull().sum()

order.id         0
order.date       0
customer.id      0
quantity         0
bike.id          0
model            0
description      0
price            0
bikeshop.id      0
bikeshop.name    0
location         0
dtype: int64

In [30]:
data['category'] = data['description'].apply(lambda x: x.split()[0] if x.split()[0] in ['Road', 'Mountain'] else None)

In [31]:
data

,order.id,order.date,customer.id,quantity,bike.id,model,description,price,bikeshop.id,bikeshop.name,location,category
0,1,2011-01-07,2,1,48,Jekyll Carbon 2,Mountain - Over Mountain - Carbon,6070,1,Pittsburgh Mountain Machines,"Pittsburgh, PA",Mountain
1,23,2011-02-04,8,1,48,Jekyll Carbon 2,Mountain - Over Mountain - Carbon,6070,1,Pittsburgh Mountain Machines,"Pittsburgh, PA",Mountain
2,99,2011-04-19,10,1,48,Jekyll Carbon 2,Mountain - Over Mountain - Carbon,6070,1,Pittsburgh Mountain Machines,"Pittsburgh, PA",Mountain
3,384,2012-03-12,10,1,48,Jekyll Carbon 2,Mountain - Over Mountain - Carbon,6070,1,Pittsburgh Mountain Machines,"Pittsburgh, PA",Mountain
4,496,2012-06-19,30,1,48,Jekyll Carbon 2,Mountain - Over Mountain - Carbon,6070,1,Pittsburgh Mountain Machines,"Pittsburgh, PA",Mountain
...,...,...,...,...,...,...,...,...,...,...,...,...
15639,1121,2014-01-29,10,4,6,Supersix Evo Red,Road - Elite Road - Carbon,3940,30,Tampa 29ers,"Tampa, FL",Road
15640,1134,2014-02-14,2,1,6,Supersix Evo Red,Road - Elite Road - Carbon,3940,30,Tampa 29ers,"Tampa, FL",Road
15641,476,2012-05-31,20,1,89,Trail 1,Mountain - Sport - Aluminum,1520,30,Tampa 29ers,"Tampa, FL",Mountain
15642,976,2013-08-14,15,1,89,Trail 1,Mountain - Sport - Aluminum,1520,30,Tampa 29ers,"Tampa, FL",Mountain
15643,499,2012-06-19,8,1,82,Habit Carbon 1,Mountain - Trail - Carbon,7460,30,Tampa 29ers,"Tampa, FL",Mountain

In [32]:
data['Revenue'] = data['quantity'] * data['price']
data

,order.id,order.date,customer.id,quantity,bike.id,model,description,price,bikeshop.id,bikeshop.name,location,category,Revenue
0,1,2011-01-07,2,1,48,Jekyll Carbon 2,Mountain - Over Mountain - Carbon,6070,1,Pittsburgh Mountain Machines,"Pittsburgh, PA",Mountain,6070
1,23,2011-02-04,8,1,48,Jekyll Carbon 2,Mountain - Over Mountain - Carbon,6070,1,Pittsburgh Mountain Machines,"Pittsburgh, PA",Mountain,6070
2,99,2011-04-19,10,1,48,Jekyll Carbon 2,Mountain - Over Mountain - Carbon,6070,1,Pittsburgh Mountain Machines,"Pittsburgh, PA",Mountain,6070
3,384,2012-03-12,10,1,48,Jekyll Carbon 2,Mountain - Over Mountain - Carbon,6070,1,Pittsburgh Mountain Machines,"Pittsburgh, PA",Mountain,6070
4,496,2012-06-19,30,1,48,Jekyll Carbon 2,Mountain - Over Mountain - Carbon,6070,1,Pittsburgh Mountain Machines,"Pittsburgh, PA",Mountain,6070
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15639,1121,2014-01-29,10,4,6,Supersix Evo Red,Road - Elite Road - Carbon,3940,30,Tampa 29ers,"Tampa, FL",Road,15760
15640,1134,2014-02-14,2,1,6,Supersix Evo Red,Road - Elite Road - Carbon,3940,30,Tampa 29ers,"Tampa, FL",Road,3940
15641,476,2012-05-31,20,1,89,Trail 1,Mountain - Sport - Aluminum,1520,30,Tampa 29ers,"Tampa, FL",Mountain,1520
15642,976,2013-08-14,15,1,89,Trail 1,Mountain - Sport - Aluminum,1520,30,Tampa 29ers,"Tampa, FL",Mountain,1520
15643,499,2012-06-19,8,1,82,Habit Carbon 1,Mountain - Trail - Carbon,7460,30,Tampa 29ers,"Tampa, FL",Mountain,7460

In [33]:
# Filtro de Supersix
# Filtra las filas donde la primera palabra en 'model' es 'Supersix'
filtered_data = data[data['model'].apply(lambda x: str(x).split()[0] == 'Supersix')]

# Crea una nueva columna 'State' en 'filtered_data' extrayendo la Ãºltima palabra de 'location'
filtered_data['State'] = filtered_data['location'].apply(lambda x: str(x).split()[-1] if pd.notnull(x) else None)

# Muestra el DataFrame filtrado con la nueva columna
print(filtered_data)

       order.id order.date  customer.id  quantity  bike.id  \
57            3 2011-01-10            6         1        2
58            7 2011-01-12            9         1        2
59          171 2011-06-23           17         1        2
60          182 2011-06-30           24         1        2
61          593 2012-09-21            2         2        2
...         ...        ...          ...       ...      ...
15625       428 2012-04-18           28         1        7
15630      1013 2013-09-13           17         1        5
15634       814 2013-05-06           13         1        9
15639      1121 2014-01-29           10         4        6
15640      1134 2014-02-14            2         1        6

                            model                 description  price  \
57       Supersix Evo Hi-Mod Team  Road - Elite Road - Carbon  10660
58       Supersix Evo Hi-Mod Team  Road - Elite Road - Carbon  10660
59       Supersix Evo Hi-Mod Team  Road - Elite Road - Carbon  10660
60       Supersix Evo Hi-Mod Team  Road - Elite Road - Carbon  10660
61       Supersix Evo Hi-Mod Team  Road - Elite Road - Carbon  10660
...                           ...                         ...    ...
15625      Supersix Evo Ultegra 3  Road - Elite Road - Carbon   3200
15630  Supersix Evo Hi-Mod Utegra  Road - Elite Road - Carbon   4260
15634            Supersix Evo 105  Road - Elite Road - Carbon   2240
15639            Supersix Evo Red  Road - Elite Road - Carbon   3940
15640            Supersix Evo Red  Road - Elite Road - Carbon   3940

       bikeshop.id                 bikeshop.name        location category  \
57               1  Pittsburgh Mountain Machines  Pittsburgh, PA     Road
58               1  Pittsburgh Mountain Machines  Pittsburgh, PA     Road
59               1  Pittsburgh Mountain Machines  Pittsburgh, PA     Road
60               1  Pittsburgh Mountain Machines  Pittsburgh, PA     Road
61               1  Pittsburgh Mountain Machines  Pittsburgh, PA     Road
...            ...                           ...             ...      ...
15625           30                   Tampa 29ers       Tampa, FL     Road
15630           30                   Tampa 29ers       Tampa, FL     Road
15634           30                   Tampa 29ers       Tampa, FL     Road
15639           30                   Tampa 29ers       Tampa, FL     Road
15640           30                   Tampa 29ers       Tampa, FL     Road

       Revenue State
57       10660    PA
58       10660    PA
59       10660    PA
60       10660    PA
61       21320    PA
...        ...   ...
15625     3200    FL
15630     4260    FL
15634     2240    FL
15639    15760    FL
15640     3940    FL

[1519 rows x 14 columns]

/var/folders/v5/8__wxdkj3j713bygpr1tsw_80000gn/T/ipykernel_21590/104773033.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['State'] = filtered_data['location'].apply(lambda x: str(x).split()[-1] if pd.notnull(x) else None)

In [34]:
newData = filtered_data[filtered_data['State'].apply(lambda x: str(x).split()[0] == 'FL')]
newData

,order.id,order.date,customer.id,quantity,bike.id,model,description,price,bikeshop.id,bikeshop.name,location,category,Revenue,State
15371,1224,2014-04-30,13,1,2,Supersix Evo Hi-Mod Team,Road - Elite Road - Carbon,10660,26,Miami Race Equipment,"Miami, FL",Road,10660,FL
15372,590,2012-09-20,3,1,4,Supersix Evo Hi-Mod Dura Ace 2,Road - Elite Road - Carbon,5330,26,Miami Race Equipment,"Miami, FL",Road,5330,FL
15373,1986,2015-12-17,28,1,4,Supersix Evo Hi-Mod Dura Ace 2,Road - Elite Road - Carbon,5330,26,Miami Race Equipment,"Miami, FL",Road,5330,FL
15388,1787,2015-06-23,7,2,10,Supersix Evo Tiagra,Road - Elite Road - Carbon,1840,26,Miami Race Equipment,"Miami, FL",Road,3680,FL
15391,252,2011-09-16,26,2,7,Supersix Evo Ultegra 3,Road - Elite Road - Carbon,3200,26,Miami Race Equipment,"Miami, FL",Road,6400,FL
15392,324,2012-01-03,20,1,7,Supersix Evo Ultegra 3,Road - Elite Road - Carbon,3200,26,Miami Race Equipment,"Miami, FL",Road,3200,FL
15393,416,2012-04-05,15,7,7,Supersix Evo Ultegra 3,Road - Elite Road - Carbon,3200,26,Miami Race Equipment,"Miami, FL",Road,22400,FL
15414,956,2013-07-30,13,1,8,Supersix Evo Ultegra 4,Road - Elite Road - Carbon,2660,26,Miami Race Equipment,"Miami, FL",Road,2660,FL
15415,1553,2015-02-16,19,3,8,Supersix Evo Ultegra 4,Road - Elite Road - Carbon,2660,26,Miami Race Equipment,"Miami, FL",Road,7980,FL
15418,63,2011-03-22,25,1,5,Supersix Evo Hi-Mod Utegra,Road - Elite Road - Carbon,4260,26,Miami Race Equipment,"Miami, FL",Road,4260,FL
15419,740,2013-03-18,26,1,5,Supersix Evo Hi-Mod Utegra,Road - Elite Road - Carbon,4260,26,Miami Race Equipment,"Miami, FL",Road,4260,FL
15428,128,2011-05-12,13,1,9,Supersix Evo 105,Road - Elite Road - Carbon,2240,26,Miami Race Equipment,"Miami, FL",Road,2240,FL
15429,976,2013-08-14,15,1,9,Supersix Evo 105,Road - Elite Road - Carbon,2240,26,Miami Race Equipment,"Miami, FL",Road,2240,FL
15430,1063,2013-11-01,16,2,9,Supersix Evo 105,Road - Elite Road - Carbon,2240,26,Miami Race Equipment,"Miami, FL",Road,4480,FL
15625,428,2012-04-18,28,1,7,Supersix Evo Ultegra 3,Road - Elite Road - Carbon,3200,30,Tampa 29ers,"Tampa, FL",Road,3200,FL
15630,1013,2013-09-13,17,1,5,Supersix Evo Hi-Mod Utegra,Road - Elite Road - Carbon,4260,30,Tampa 29ers,"Tampa, FL",Road,4260,FL
15634,814,2013-05-06,13,1,9,Supersix Evo 105,Road - Elite Road - Carbon,2240,30,Tampa 29ers,"Tampa, FL",Road,2240,FL
15639,1121,2014-01-29,10,4,6,Supersix Evo Red,Road - Elite Road - Carbon,3940,30,Tampa 29ers,"Tampa, FL",Road,15760,FL
15640,1134,2014-02-14,2,1,6,Supersix Evo Red,Road - Elite Road - Carbon,3940,30,Tampa 29ers,"Tampa, FL",Road,3940,FL

In [35]:
# Calcula los cuantiles 25% y 75% de la columna 'Revenue'
q25 = newData['Revenue'].quantile(0.25)
q75 = newData['Revenue'].quantile(0.75)

# FunciÃ³n para clasificar cada valor en 'Revenue'
def classify_revenue(value):
    if value <= q25:
        return 'Low'
    elif value <= q75:
        return 'Medium'
    else:
        return 'High'

# Aplica la funciÃ³n para crear la nueva columna 'Revenue Quantiles'
newData['Revenue Quantiles'] = newData['Revenue'].apply(classify_revenue)

/var/folders/v5/8__wxdkj3j713bygpr1tsw_80000gn/T/ipykernel_21590/2972445454.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newData['Revenue Quantiles'] = newData['Revenue'].apply(classify_revenue)

In [36]:
newData

,order.id,order.date,customer.id,quantity,bike.id,model,description,price,bikeshop.id,bikeshop.name,location,category,Revenue,State,Revenue Quantiles
15371,1224,2014-04-30,13,1,2,Supersix Evo Hi-Mod Team,Road - Elite Road - Carbon,10660,26,Miami Race Equipment,"Miami, FL",Road,10660,FL,High
15372,590,2012-09-20,3,1,4,Supersix Evo Hi-Mod Dura Ace 2,Road - Elite Road - Carbon,5330,26,Miami Race Equipment,"Miami, FL",Road,5330,FL,Medium
15373,1986,2015-12-17,28,1,4,Supersix Evo Hi-Mod Dura Ace 2,Road - Elite Road - Carbon,5330,26,Miami Race Equipment,"Miami, FL",Road,5330,FL,Medium
15388,1787,2015-06-23,7,2,10,Supersix Evo Tiagra,Road - Elite Road - Carbon,1840,26,Miami Race Equipment,"Miami, FL",Road,3680,FL,Medium
15391,252,2011-09-16,26,2,7,Supersix Evo Ultegra 3,Road - Elite Road - Carbon,3200,26,Miami Race Equipment,"Miami, FL",Road,6400,FL,High
15392,324,2012-01-03,20,1,7,Supersix Evo Ultegra 3,Road - Elite Road - Carbon,3200,26,Miami Race Equipment,"Miami, FL",Road,3200,FL,Low
15393,416,2012-04-05,15,7,7,Supersix Evo Ultegra 3,Road - Elite Road - Carbon,3200,26,Miami Race Equipment,"Miami, FL",Road,22400,FL,High
15414,956,2013-07-30,13,1,8,Supersix Evo Ultegra 4,Road - Elite Road - Carbon,2660,26,Miami Race Equipment,"Miami, FL",Road,2660,FL,Low
15415,1553,2015-02-16,19,3,8,Supersix Evo Ultegra 4,Road - Elite Road - Carbon,2660,26,Miami Race Equipment,"Miami, FL",Road,7980,FL,High
15418,63,2011-03-22,25,1,5,Supersix Evo Hi-Mod Utegra,Road - Elite Road - Carbon,4260,26,Miami Race Equipment,"Miami, FL",Road,4260,FL,Medium
15419,740,2013-03-18,26,1,5,Supersix Evo Hi-Mod Utegra,Road - Elite Road - Carbon,4260,26,Miami Race Equipment,"Miami, FL",Road,4260,FL,Medium
15428,128,2011-05-12,13,1,9,Supersix Evo 105,Road - Elite Road - Carbon,2240,26,Miami Race Equipment,"Miami, FL",Road,2240,FL,Low
15429,976,2013-08-14,15,1,9,Supersix Evo 105,Road - Elite Road - Carbon,2240,26,Miami Race Equipment,"Miami, FL",Road,2240,FL,Low
15430,1063,2013-11-01,16,2,9,Supersix Evo 105,Road - Elite Road - Carbon,2240,26,Miami Race Equipment,"Miami, FL",Road,4480,FL,Medium
15625,428,2012-04-18,28,1,7,Supersix Evo Ultegra 3,Road - Elite Road - Carbon,3200,30,Tampa 29ers,"Tampa, FL",Road,3200,FL,Low
15630,1013,2013-09-13,17,1,5,Supersix Evo Hi-Mod Utegra,Road - Elite Road - Carbon,4260,30,Tampa 29ers,"Tampa, FL",Road,4260,FL,Medium
15634,814,2013-05-06,13,1,9,Supersix Evo 105,Road - Elite Road - Carbon,2240,30,Tampa 29ers,"Tampa, FL",Road,2240,FL,Low
15639,1121,2014-01-29,10,4,6,Supersix Evo Red,Road - Elite Road - Carbon,3940,30,Tampa 29ers,"Tampa, FL",Road,15760,FL,High
15640,1134,2014-02-14,2,1,6,Supersix Evo Red,Road - Elite Road - Carbon,3940,30,Tampa 29ers,"Tampa, FL",Road,3940,FL,Medium